* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(120deg, #000000, #777777);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: bold;
    background-attachment: fixed;
    background-color: #000;
}
#conteudo_principal {
    background: linear-gradient(120deg, #000000c9, #333333);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    flex-direction: column;
    position: static;
}
#calc {
    background-color: #000000;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    border-radius: 1.2rem;
}
#inpu_display {
    background-color: #b1b1b1;
    color: #000;
    height: 10%;
    border-radius: 1.2rem;
    text-align: right;
    font-size: 2rem;
    padding: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    border: none;
}
#button_container {
    display: grid;
    grid-template-columns: repeat(4, 10fr); 
    grid-gap: 5%;
    margin-bottom: 25%;
}
.btn_num,.btn_op {
    background: linear-gradient(120deg, #000000, #c4c2c2);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 20%;
    cursor: pointer;
}
.btn_num:hover{
     background: linear-gradient(120deg, #22222280, #a8a8a8b7);
     box-shadow:  0 0 0.1rem 0.1rem #ffffff91;
}

.btn_op{
    background: linear-gradient(120deg, #ff9900, #d43012);

}
.btn_op:hover{
    background: linear-gradient(120deg, #ff9900b2, #d42f12b6);
    box-shadow:  0 0 0.1rem 0.1rem #f7353591;
}

#hit_calc{
    background-color: #00000073;
    color: #ffffff;
    min-height: 8%;
    width: auto;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.2rem;
    align-items: center;
    padding: 0.5%;
}

ul{
    align-items: center;
    text-align: center;
    justify-content: center;
}

li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}

#bt_limpa_histo{
    border-radius: 1.2rem;
    padding: 2%;
    font-size: 0.9rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 95%;
}
#bt_limpa_histo:hover{
    background-color: #00000077;
}
@media (min-width: 249px) and (max-width: 480px) {
    #conteudo_principal {
        height: auto;
        width: auto;
        border-radius: 3%;
        position: relative;
        margin-top: 0.5rem;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    #calc {
        padding: 2%;
        border-radius: 3%;
        height: auto;
    }

    #inpu_display {
        height: 12%;
        font-size: 1.5rem;
        padding: 5%;
    }

    #button_container {
        grid-gap: 3%;
    }

    .btn_num, .btn_op {
        padding: 30%;
        font-size: 1.2rem;
        border-radius: 50%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    #conteudo_principal {
        height: auto;
        width: auto;
        border-radius: 3%;
        position: relative;
        margin-top: 0.5rem;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #calc {
        padding: 2%;
        border-radius: 3%;
        height: auto;
    }

    #inpu_display {
        height: 12%;
        font-size: 1.5rem;
        padding: 5%;
    }

    #button_container {
        grid-gap: 3%;
    }

    .btn_num, .btn_op {
        padding: 25%;
        font-size: 1.2rem;
        border-radius: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #conteudo_principal {
        height: auto;
        width: auto;
        position: relative;
        margin-top: 0.5rem;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    #calc {
        padding: 2%;
        height: auto;
    }

    #inpu_display {
        height: 12%;
        font-size: 1.5rem;
        padding: 5%;
    }

    #button_container {
        grid-gap: 3%;
    }

    .btn_num, .btn_op {
        padding: 25%;
        font-size: 1.2rem;
        border-radius: 50%;
    }
}
